{{#if alert}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}


<form
  class="row g-3 needs-validation"
  method="POST"
  action="/addUser"
  
>
  <div class="col-6">
  <div class="form-floating mb-3">

    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="First Name"
      name="first_name"
      required
    />
    <label for="floatingInput">First Name</label>
  </div>
</div>

<div class="col-6">
  <div class="form-floating mb-3">

    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Last Name"
      name="last_name"
      required
    />
    <label for="floatingInput">Last Name</label>
  </div>
</div>

<div class="col-6">
  <div class="form-floating mb-3">

    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Service Number"
      name="service_num"
      required
    />
    <label for="floatingInput">Service Number</label>
  </div>
</div>

<div class="col-6">
  <div class="form-floating mb-3">
    <label for="exampleInputPassword1" class="form-label" >Password</label>
    <input type="password" class="form-control" id="floating-input" name="password" required/>
  </div>

</div>
 <select
      class="form-select issues form-select-sm"
      aria-label=".form-select-sm example"
      name="role"
    >
      <option selected>Role</option>
      {{#each rows}}
        <option value="{{this.id}} {{this.role_name}}">
           {{this.role_name}}</option>

      {{/each}}
    </select>
<div class="col-12 d-grid">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>

</form>


