{{#if alert}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
     {{alert}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}

 <div class="container" style="margin-left: 25%;">
    <form class="needs-validation " method="POST"  action="/addUser" novalidate>
        <div class="form-row">
          <div class="col-6 col-sm-6 mb-3">
            <label for="validationFirstName"></label>
            <input type="text" class="form-control" id="validationDefault01" name="first_name" placeholder="First Name" required>
            <div class="valid-feedback">
              Correct First Name!
            </div>
          </div>
          <div class="col-6 col-sm-6 mb-3">
            <label for="validationLastName"></label>
            <input type="text" class="form-control" id="validationDefault02" placeholder="Last Name" name="last_name" required>
            <div class="valid-feedback">
              Correct Last Name!
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-6 col-sm-6 mb-3">
            <label for="validationServiceNumber"></label>
            <input type="text" class="form-control" id="validationDefault02" placeholder="Service Number"  name="service_num" required>
            <div class="valid-feedback">
              Correct Service Number!
            </div>
          </div>
          <div class="col-6 col-sm-6 mb-3">
            <label for="validationPassword"></label>
            <input type="password" class="form-control" id="validationPassword" placeholder="Password" name="password" required>
            <div class="valid-feedback">
              Correct Password!
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-6 col-sm-6 mb-3">
            
              <select
              class="form-select issues form-select-sm"
              aria-label=".form-select-sm example"
              name="role"
            >
              <option selected>Role</option>
              {{#each rows}}
                <option value="{{this.id}} {{this.role_name}}">
                  {{this.role_name}}</option>

              {{/each}}
            </select>
            
            <div class="invalid-feedback">
              Please provide a valid role.
            </div>
          </div>
        </div>
        
        <button class="btn btn-primary" type="submit">Add User</button>
      </form>
      </div>
