
<div class="view-user p-5">

  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        
        <th scope="col">Bases</th>
        
        
     </tr>
    </thead>
    <tbody>
      {{#each rows}}
        <tr>
          
          <td>{{this.base_name}}</td>
              

        
        </tr>
      {{/each}}

    </tbody>
  </table>
</div>