
<div class="view-user p-5">

  <table class="table table-bordered table-dark">
    <thead class="thead-dark">
      <tr>
        
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Service Number</th>
        <th scope="col">Role</th>
        
     </tr>
    </thead>
    <tbody>
      {{#each rows}}
        <tr>
          
          <td>{{this.first_name}}</td>
          <td>{{this.last_name}}</td>
          <td>{{this.service_num}}</td>
          <td>{{this.role_name}}</td>
          

        
        </tr>
      {{/each}}

    </tbody>
  </table>
</div>